# HAND-AUTHORED. This is NOT a vendor artifact.
#
# Slack publishes no usable OpenAPI 3 description of the Web API. The only one
# that ever existed, slackapi/slack-api-specs, is archived (last commit
# 2021-09-03), declares `swagger: "2.0"`, and is materially wrong for this
# purpose — see slack/import.yaml for the measurements. This file is written by
# hand from the current reference pages at
# https://docs.slack.dev/reference/methods/<method>, one path per method, so
# that the skill's catalog is still GENERATED rather than hand-edited: run
# `catalog:import slack` and every operation, param, type, enum and required
# flag below lands in catalog.yaml, and re-running it is idempotent.
#
# Conventions used here:
#   * No `summary`. listOperations() names an operation `summary ||
#     operationId || "METHOD /path"`, so the operationId — the Slack method
#     name — is what import.yaml's `include` entries match, and `description`
#     is what becomes the catalog description.
#   * Comma-separated arguments (`types`, `dnd.teamInfo`'s `users`) are typed
#     `string`, NOT `array`. The runtime serialises an array param as repeated
#     `name=` pairs; Slack wants one comma-joined value.
#   * `token` is deliberately absent from every method. Slack documents it as a
#     required argument, but this skill sends it as `Authorization: Bearer`,
#     and a credential must never become an operation variable.
#   * Only arguments the reference page documents are listed. Defaults and
#     limits live in the description text because Slack does not express them
#     as schema keywords.
#   * Keep every `description` under 200 characters. firstString() truncates at
#     that length and cuts mid-word.
#
# EDITING A DESCRIPTION HERE IS NOT ENOUGH ON ITS OWN. mergeOperations keeps the
# description already in catalog.yaml over the one an import produces — that is
# what protects hand-curated text everywhere else in this catalog, but it also
# means a changed description here will not land while catalog.yaml still holds
# the old one. Delete that operation's `description:` line from catalog.yaml
# once, then re-import; the two agree again afterwards and stay byte-identical
# across re-imports. Params, types, enums and required flags are NOT affected —
# those come from this file on every import.

openapi: 3.0.3
info:
  title: Slack Web API — read methods
  version: '1.0'
  description: >-
    The read surface of Slack's Web API, transcribed from docs.slack.dev.
    Covers the read tools of Slack's official MCP server (mcp.slack.com) plus
    the workspace-directory reads it does not expose.
servers:
  - url: https://slack.com/api

paths:
  # ----- conversations ---------------------------------------------------
  /conversations.list:
    get:
      operationId: conversations.list
      # Keep under 200 characters: firstString() truncates a description at
      # that length, and it cuts mid-word.
      description: >-
        List channels, private channels, DMs and group DMs. Filters apply after
        a page is fetched, so a page can come back near-empty while more results
        remain — always follow next_cursor.
      parameters:
        - { name: types, in: query, required: false, schema: { type: string }, description: "Comma-separated channel types to include, from public_channel, private_channel, mpim, im. Default public_channel." }
        - { name: exclude_archived, in: query, required: false, schema: { type: boolean }, description: "Exclude archived channels. Default false." }
        - { name: limit, in: query, required: false, schema: { type: integer }, description: "Page size. Default 100, must be under 1000." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "next_cursor from the previous response's response_metadata." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  /conversations.info:
    get:
      operationId: conversations.info
      description: Get metadata about one conversation — name, topic, purpose, membership and archive state.
      parameters:
        - { name: channel, in: query, required: true, schema: { type: string }, description: "Conversation ID." }
        - { name: include_locale, in: query, required: false, schema: { type: boolean }, description: "Include the conversation's locale. Default false." }
        - { name: include_num_members, in: query, required: false, schema: { type: boolean }, description: "Include the member count. Default false." }

  /conversations.history:
    get:
      operationId: conversations.history
      description: >-
        Fetch a page of messages and events from a conversation, newest first.
        Thread replies are not included — read those with conversations.replies.
      parameters:
        - { name: channel, in: query, required: true, schema: { type: string }, description: "Conversation ID to fetch history for." }
        - { name: oldest, in: query, required: false, schema: { type: string }, description: "Start of the time range, as a message ts. Default 0." }
        - { name: latest, in: query, required: false, schema: { type: string }, description: "End of the time range, as a message ts. Defaults to now." }
        - { name: inclusive, in: query, required: false, schema: { type: boolean }, description: "Include messages at the oldest/latest boundary. Ignored unless one is set." }
        - { name: limit, in: query, required: false, schema: { type: integer }, description: "Page size. Default 100, maximum 999." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "next_cursor from the previous response's response_metadata." }
        - { name: include_all_metadata, in: query, required: false, schema: { type: boolean }, description: "Return all message metadata. Default false." }

  /conversations.replies:
    get:
      operationId: conversations.replies
      description: Fetch a message thread — the parent message and its replies.
      parameters:
        - { name: channel, in: query, required: true, schema: { type: string }, description: "Conversation ID the thread lives in." }
        - { name: ts, in: query, required: true, schema: { type: string }, description: "ts of the thread parent, or of any message in the thread." }
        - { name: oldest, in: query, required: false, schema: { type: string }, description: "Start of the time range, as a message ts. Default 0." }
        - { name: latest, in: query, required: false, schema: { type: string }, description: "End of the time range, as a message ts. Defaults to now." }
        - { name: inclusive, in: query, required: false, schema: { type: boolean }, description: "Include messages at the oldest/latest boundary." }
        - { name: limit, in: query, required: false, schema: { type: integer }, description: "Page size. Default 1000." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "next_cursor from the previous response's response_metadata." }
        - { name: include_all_metadata, in: query, required: false, schema: { type: boolean }, description: "Return all message metadata. Default false." }

  /conversations.members:
    get:
      operationId: conversations.members
      description: List the user IDs belonging to a conversation.
      parameters:
        - { name: channel, in: query, required: true, schema: { type: string }, description: "Conversation ID." }
        - { name: limit, in: query, required: false, schema: { type: integer }, description: "Page size. Default 100." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "next_cursor from the previous response's response_metadata." }

  /users.conversations:
    get:
      operationId: users.conversations
      description: List the conversations a given user is a member of. Defaults to the calling user.
      parameters:
        - { name: user, in: query, required: false, schema: { type: string }, description: "User ID. Defaults to the token's own user." }
        - { name: types, in: query, required: false, schema: { type: string }, description: "Comma-separated channel types to include, from public_channel, private_channel, mpim, im. Default public_channel." }
        - { name: exclude_archived, in: query, required: false, schema: { type: boolean }, description: "Exclude archived channels. Default false." }
        - { name: limit, in: query, required: false, schema: { type: integer }, description: "Page size. Default 100, maximum 999." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "next_cursor from the previous response's response_metadata." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  # ----- users -----------------------------------------------------------
  /users.list:
    get:
      operationId: users.list
      description: >-
        List every user in the workspace, including deactivated accounts and
        bots. Always pass limit — omitting it asks Slack for the whole
        directory in one response and can time out.
      parameters:
        - { name: limit, in: query, required: false, schema: { type: integer }, description: "Page size. No default: omitting it requests the entire directory." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "next_cursor from the previous response's response_metadata." }
        - { name: include_locale, in: query, required: false, schema: { type: boolean }, description: "Include each user's locale. Default false." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  /users.info:
    get:
      operationId: users.info
      description: Get one user's identity — name, real name, title, timezone, admin flags and profile.
      parameters:
        - { name: user, in: query, required: true, schema: { type: string }, description: "User ID." }
        - { name: include_locale, in: query, required: false, schema: { type: boolean }, description: "Include the user's locale. Default false." }

  /users.lookupByEmail:
    get:
      operationId: users.lookupByEmail
      description: Find a workspace user by their registered email address.
      parameters:
        - { name: email, in: query, required: true, schema: { type: string }, description: "Email address to look up." }

  /users.profile.get:
    get:
      operationId: users.profile.get
      description: Retrieve a user's profile, including custom fields and their current status.
      parameters:
        - { name: user, in: query, required: false, schema: { type: string }, description: "User to retrieve profile info for. Defaults to the token's own user." }
        - { name: include_labels, in: query, required: false, schema: { type: boolean }, description: "Include labels for custom profile field IDs. Heavily rate-limited; not recommended." }

  /users.getPresence:
    get:
      operationId: users.getPresence
      description: Get a user's presence — active or away.
      parameters:
        - { name: user, in: query, required: false, schema: { type: string }, description: "User to get presence for. Defaults to the token's own user." }

  # ----- search ----------------------------------------------------------
  /search.messages:
    get:
      operationId: search.messages
      description: >-
        Search messages the token's user can see. Requires a USER token with
        search:read — bot tokens are rejected with not_allowed_token_type.
      parameters:
        - { name: query, in: query, required: true, schema: { type: string }, description: "Search query. Supports Slack search modifiers such as in:#channel and from:@user." }
        - { name: count, in: query, required: false, schema: { type: integer }, description: "Results per page. Default 20, maximum 100." }
        - { name: page, in: query, required: false, schema: { type: integer }, description: "Page number. Default 1. Do not mix with cursor." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "Cursormark pagination: send * for the first call, then next_cursor. Do not mix with page." }
        - { name: sort, in: query, required: false, schema: { type: string, enum: [score, timestamp] }, description: "Sort matches by relevance or recency. Default score." }
        - { name: sort_dir, in: query, required: false, schema: { type: string, enum: [asc, desc] }, description: "Sort direction. Default desc." }
        - { name: highlight, in: query, required: false, schema: { type: boolean }, description: "Wrap matched terms in highlight markers." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  /search.files:
    get:
      operationId: search.files
      description: >-
        Search files the token's user can see. Requires a USER token with
        search:read — bot tokens are rejected.
      parameters:
        - { name: query, in: query, required: true, schema: { type: string }, description: "Search query." }
        - { name: count, in: query, required: false, schema: { type: integer }, description: "Results per page. Default 20." }
        - { name: page, in: query, required: false, schema: { type: integer }, description: "Page number. Default 1." }
        - { name: sort, in: query, required: false, schema: { type: string, enum: [score, timestamp] }, description: "Sort matches by relevance or recency. Default score." }
        - { name: sort_dir, in: query, required: false, schema: { type: string, enum: [asc, desc] }, description: "Sort direction. Default desc." }
        - { name: highlight, in: query, required: false, schema: { type: boolean }, description: "Wrap matched terms in highlight markers." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  # ----- reactions and pins ----------------------------------------------
  /reactions.get:
    get:
      operationId: reactions.get
      description: Get the reactions on one message or file. Supply exactly one target.
      parameters:
        - { name: channel, in: query, required: false, schema: { type: string }, description: "Channel holding the message. Use with timestamp." }
        - { name: timestamp, in: query, required: false, schema: { type: string }, description: "ts of the message to inspect. Use with channel." }
        - { name: file, in: query, required: false, schema: { type: string }, description: "File ID to inspect instead of a message." }
        - { name: file_comment, in: query, required: false, schema: { type: string }, description: "File comment ID to inspect instead of a message." }
        - { name: full, in: query, required: false, schema: { type: boolean }, description: "Always return the complete reaction list rather than a truncated one." }

  /reactions.list:
    get:
      operationId: reactions.list
      description: List the items a user has reacted to. Defaults to the token's own user.
      parameters:
        - { name: user, in: query, required: false, schema: { type: string }, description: "Show reactions made by this user. Defaults to the token's own user." }
        - { name: count, in: query, required: false, schema: { type: integer }, description: "Results per page. Default 100." }
        - { name: page, in: query, required: false, schema: { type: integer }, description: "Page number. Default 1." }
        - { name: limit, in: query, required: false, schema: { type: integer }, description: "Page size when using cursor pagination." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "next_cursor from the previous response's response_metadata." }
        - { name: full, in: query, required: false, schema: { type: boolean }, description: "Always return the complete reaction list for each item." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  /pins.list:
    get:
      operationId: pins.list
      description: List the items pinned in a channel.
      parameters:
        - { name: channel, in: query, required: true, schema: { type: string }, description: "Channel to list pinned items for." }

  # ----- files -----------------------------------------------------------
  /files.list:
    get:
      operationId: files.list
      description: >-
        List files visible to the token. Paginates with count/page and returns
        a paging object rather than a cursor.
      parameters:
        - { name: channel, in: query, required: false, schema: { type: string }, description: "Only files shared in this channel." }
        - { name: user, in: query, required: false, schema: { type: string }, description: "Only files created by this user." }
        - { name: ts_from, in: query, required: false, schema: { type: string }, description: "Only files created after this timestamp." }
        - { name: ts_to, in: query, required: false, schema: { type: string }, description: "Only files created before this timestamp." }
        - { name: types, in: query, required: false, schema: { type: string }, description: "Comma-separated file types to filter by, e.g. spaces,snippets. Default all." }
        - { name: count, in: query, required: false, schema: { type: integer }, description: "Results per page. Default 100." }
        - { name: page, in: query, required: false, schema: { type: integer }, description: "Page number. Default 1." }
        - { name: show_files_hidden_by_limit, in: query, required: false, schema: { type: boolean }, description: "Include files hidden by the workspace's file-history limit." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  /files.info:
    get:
      operationId: files.info
      description: Get one file's metadata, its share history, and a page of its comments.
      parameters:
        - { name: file, in: query, required: true, schema: { type: string }, description: "File ID." }
        - { name: count, in: query, required: false, schema: { type: integer }, description: "Comments per page. Default 100." }
        - { name: page, in: query, required: false, schema: { type: integer }, description: "Comment page number. Default 1." }
        - { name: limit, in: query, required: false, schema: { type: integer }, description: "Comment page size when using cursor pagination." }
        - { name: cursor, in: query, required: false, schema: { type: string }, description: "next_cursor from the previous response's response_metadata." }

  # ----- workspace -------------------------------------------------------
  /team.info:
    get:
      operationId: team.info
      description: Get the workspace's name, domain, icon and enterprise linkage.
      parameters:
        - { name: team, in: query, required: false, schema: { type: string }, description: "Team ID to look up. Defaults to the token's own team." }
        - { name: domain, in: query, required: false, schema: { type: string }, description: "Look up by domain instead of ID. Only honoured when team is omitted, and only for same-enterprise domains." }

  /team.profile.get:
    get:
      operationId: team.profile.get
      description: Get the workspace's custom profile field definitions, so profile field IDs can be resolved to labels.
      parameters:
        - { name: visibility, in: query, required: false, schema: { type: string, enum: [all, visible, hidden] }, description: "Which fields to return." }

  /emoji.list:
    get:
      operationId: emoji.list
      description: List the workspace's custom emoji and their image URLs or aliases.
      parameters:
        - { name: include_categories, in: query, required: false, schema: { type: boolean }, description: "Include standard emoji category metadata." }

  /usergroups.list:
    get:
      operationId: usergroups.list
      description: List the workspace's user groups.
      parameters:
        - { name: include_count, in: query, required: false, schema: { type: boolean }, description: "Include each group's member count." }
        - { name: include_disabled, in: query, required: false, schema: { type: boolean }, description: "Include disabled user groups." }
        - { name: include_users, in: query, required: false, schema: { type: boolean }, description: "Include each group's member list." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  /usergroups.users.list:
    get:
      operationId: usergroups.users.list
      description: List the users belonging to one user group.
      parameters:
        - { name: usergroup, in: query, required: true, schema: { type: string }, description: "User group ID." }
        - { name: include_disabled, in: query, required: false, schema: { type: boolean }, description: "Include disabled user groups." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id. Required when the token belongs to an org-wide app." }

  /chat.getPermalink:
    get:
      operationId: chat.getPermalink
      description: Get the permalink URL for a specific message.
      parameters:
        - { name: channel, in: query, required: true, schema: { type: string }, description: "Conversation containing the message." }
        - { name: message_ts, in: query, required: true, schema: { type: string }, description: "ts of the message, unique within the channel." }

  /dnd.info:
    get:
      operationId: dnd.info
      description: Get one user's Do Not Disturb schedule and whether snooze is active.
      parameters:
        - { name: user, in: query, required: false, schema: { type: string }, description: "User to fetch status for. Defaults to the token's own user." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id the user belongs to. Required when the token belongs to an org-wide app." }

  /dnd.teamInfo:
    get:
      operationId: dnd.teamInfo
      description: Get the Do Not Disturb status of several users at once.
      parameters:
        - { name: users, in: query, required: true, schema: { type: string }, description: "Comma-separated list of user IDs, e.g. U1234,W4567." }
        - { name: team_id, in: query, required: false, schema: { type: string }, description: "Encoded team id the users belong to. Required when the token belongs to an org-wide app." }
