{
  "openapi": "3.0.3",
  "info": {
    "title": "API Reference",
    "version": "v0",
    "description": "Sentry Public API"
  },
  "servers": [
    {
      "url": "https://sentry.io"
    }
  ],
  "paths": {
    "/api/0/organizations/": {
      "get": {
        "operationId": "listOrganizations",
        "description": "Return a list of organizations available to the authenticated session in a region.\nThis is particularly useful for requests with a user bound context. For API key-based requests this will only return the organization that belongs to the key.",
        "summary": "List Your Organizations",
        "parameters": [
          {
            "in": "query",
            "name": "owner",
            "schema": {
              "type": "boolean"
            },
            "description": "Specify `true` to restrict results to organizations in which you are an owner."
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filters results by using [query syntax](/product/sentry-basics/search/).\n\nValid query fields include:\n- `id`: The organization ID\n- `slug`: The organization slug\n- `status`: The organization's current status (one of `active`, `pending_deletion`, or `deletion_in_progress`)\n- `email` or `member_id`: Filter your organizations by the emails or [organization member IDs](/api/organizations/list-an-organizations-members/) of specific members included\n- `query`: Filter your organizations by name, slug, and members that contain this substring\n\nExample: `query=(slug:foo AND status:active) OR (email:[thing-one@example.com,thing-two@example.com] AND query:bar)`\n"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string"
            },
            "description": "The field to sort results by, in descending order. If not specified the results are sorted by the date they were created.\n\nValid fields include:\n- `members`: By number of members\n- `events`: By number of events in the past 24 hours\n"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of rows to return in the result. Default and maximum allowed is 100."
          }
        ],
        "tags": [
          "Users"
        ],
        "security": [
          {
            "auth_token": [
              "org:admin",
              "org:read",
              "org:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/": {
      "get": {
        "operationId": "getOrganization",
        "description": "Return details on an individual organization, including various details\nsuch as membership access and teams.",
        "summary": "Retrieve an Organization",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "detailed",
            "schema": {
              "type": "string"
            },
            "description": "\nSpecify `\"0\"` to return organization details that do not include projects or teams.\n"
          }
        ],
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "auth_token": [
              "org:admin",
              "org:read",
              "org:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/projects/": {
      "get": {
        "operationId": "listOrganizationProjects",
        "description": "Return a list of projects bound to a organization.",
        "summary": "List an Organization's Projects",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of rows to return in the result. Default and maximum allowed is 100."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter projects by name or slug."
          }
        ],
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "auth_token": [
              "org:admin",
              "org:read",
              "org:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/teams/": {
      "get": {
        "operationId": "listOrganizationTeams",
        "description": "Returns a list of teams bound to a organization.",
        "summary": "List an Organization's Teams",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "detailed",
            "schema": {
              "type": "string"
            },
            "description": "\nSpecify `\"0\"` to return team details that do not include projects.\n"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of rows to return in the result. Default and maximum allowed is 100."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter teams by name or slug."
          }
        ],
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "auth_token": [
              "org:admin",
              "org:read",
              "org:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/members/": {
      "get": {
        "operationId": "listOrganizationMembers",
        "description": "List all organization members.\n\nResponse includes pending invites that are approved by organization owners or managers but waiting to be accepted by the invitee.",
        "summary": "List an Organization's Members",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "auth_token": [
              "member:admin",
              "member:read",
              "member:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/members/{member_id}/": {
      "get": {
        "operationId": "getOrganizationMember",
        "description": "Retrieve an organization member's details.\n\nResponse will be a pending invite if it has been approved by organization owners or managers but is waiting to be accepted by the invitee.",
        "summary": "Retrieve an Organization Member",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "member_id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the organization member.",
            "required": true
          }
        ],
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "auth_token": [
              "member:admin",
              "member:read",
              "member:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/teams/{organization_id_or_slug}/{team_id_or_slug}/": {
      "get": {
        "operationId": "getTeam",
        "description": "Return details on an individual team.",
        "summary": "Retrieve a Team",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "team_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the team the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "string"
            },
            "description": "\nList of strings to opt in to additional data. Supports `projects`, `externalTeams`.\n"
          },
          {
            "in": "query",
            "name": "collapse",
            "schema": {
              "type": "string"
            },
            "description": "\nList of strings to opt out of certain pieces of data. Supports `organization`.\n"
          }
        ],
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "auth_token": [
              "team:admin",
              "team:read",
              "team:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/teams/{organization_id_or_slug}/{team_id_or_slug}/members/": {
      "get": {
        "operationId": "listTeamMembers",
        "description": "List all members on a team.\n\nThe response will not include members with pending invites.",
        "summary": "List a Team's Members",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "team_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the team the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "auth_token": [
              "team:admin",
              "team:read",
              "team:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/teams/{organization_id_or_slug}/{team_id_or_slug}/projects/": {
      "get": {
        "operationId": "listTeamProjects",
        "description": "Return a list of projects bound to a team.",
        "summary": "List a Team's Projects",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "team_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the team the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "auth_token": [
              "project:admin",
              "project:read",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/projects/{organization_id_or_slug}/{project_id_or_slug}/": {
      "get": {
        "operationId": "getProject",
        "description": "Return details on an individual project.",
        "summary": "Retrieve a Project",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "project_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the project the resource belongs to. Project slugs are unique within each organization.",
            "required": true
          }
        ],
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "auth_token": [
              "project:admin",
              "project:read",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/projects/{organization_id_or_slug}/{project_id_or_slug}/teams/": {
      "get": {
        "operationId": "listProjectTeams",
        "description": "Return a list of teams that have access to this project.",
        "summary": "List a Project's Teams",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "project_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the project the resource belongs to. Project slugs are unique within each organization.",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Teams"
        ],
        "security": [
          {
            "auth_token": [
              "project:admin",
              "project:read",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/projects/{organization_id_or_slug}/{project_id_or_slug}/issues/": {
      "get": {
        "tags": [
          "Events"
        ],
        "description": "**Deprecated**: This endpoint has been replaced with the [Organization Issues endpoint](/api/events/list-an-organizations-issues/) which\nsupports filtering on project and additional functionality.\n\nReturn a list of issues (groups) bound to a project.  All parameters are supplied as query string parameters. \n\n A default query of ``is:unresolved`` is applied. To return results with other statuses send an new query value (i.e. ``?query=`` for all results).\n\nThe ``statsPeriod`` parameter can be used to select the timeline stats which should be present. Possible values are: ``\"\"`` (disable),``\"24h\"`` (default), ``\"14d\"``\n\nUser feedback items from the [User Feedback Widget](https://docs.sentry.io/product/user-feedback/#user-feedback-widget) are built off the issue platform, so to return a list of user feedback items for a specific project, filter for `issue.category:feedback`.",
        "operationId": "List a Project's Issues",
        "deprecated": true,
        "parameters": [
          {
            "name": "organization_id_or_slug",
            "in": "path",
            "description": "The ID or slug of the organization the issues belong to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id_or_slug",
            "in": "path",
            "description": "The ID or slug of the project the issues belong to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statsPeriod",
            "in": "query",
            "description": "An optional stat period (can be one of `\"24h\"`, `\"14d\"`, and `\"\"`), defaults to \"24h\" if not provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shortIdLookup",
            "in": "query",
            "description": "If this is set to true then short IDs are looked up by this function as well. This can cause the return value of the function to return an event issue of a different project which is why this is an opt-in. Set to 1 to enable.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "An optional Sentry structured search query. If not provided an implied `\"is:unresolved\"` is assumed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hashes",
            "in": "query",
            "description": "A list of hashes of groups to return. Is not compatible with 'query' parameter. The maximum number of hashes that can be sent is 100. If more are sent, only the first 100 will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort order of the issues. Options include 'Last Seen' (`date`), 'First Seen' (`new`), 'Trends' (`trends`), 'Events' (`freq`), 'Users' (`user`), and 'Date Added' (`inbox`).",
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "date",
                "new",
                "trends",
                "freq",
                "user",
                "inbox"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of issues to return. The maximum is 100.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "auth_token": [
              "event:read"
            ]
          }
        ]
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/issues/{issue_id}/": {
      "get": {
        "operationId": "getOrganizationIssue",
        "description": "Return details on an individual issue, including its basic stats, comment\nand user-report counts, and a summary of the latest event.",
        "summary": "Retrieve an Issue",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "issue_id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the issue you'd like to query.",
            "required": true
          },
          {
            "in": "query",
            "name": "environment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The name of environments to filter by."
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "forecast",
                  "inbox",
                  "integrationIssues",
                  "latestEventHasAttachments",
                  "owners",
                  "sentryAppIssues"
                ]
              }
            },
            "description": "Additional data to include in the response."
          },
          {
            "in": "query",
            "name": "collapse",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "release",
                  "stats",
                  "tags"
                ]
              }
            },
            "description": "Fields to remove from the response to improve query performance."
          }
        ],
        "tags": [
          "Events"
        ],
        "security": [
          {
            "auth_token": [
              "event:admin",
              "event:read",
              "event:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/issues/{issue_id}/events/": {
      "get": {
        "operationId": "listOrganizationIssueEvents",
        "description": "Return a list of error events bound to an issue",
        "summary": "List an Issue's Events",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "issue_id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the issue you'd like to query.",
            "required": true
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The start of the period of time for the query, expected in ISO-8601 format. For example, `2001-12-14T12:34:56.7890`."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The end of the period of time for the query, expected in ISO-8601 format. For example, `2001-12-14T12:34:56.7890`."
          },
          {
            "in": "query",
            "name": "statsPeriod",
            "schema": {
              "type": "string"
            },
            "description": "The period of time for the query, will override the start & end parameters, a number followed by one of:\n- `d` for days\n- `h` for hours\n- `m` for minutes\n- `s` for seconds\n- `w` for weeks\n\nFor example, `24h`, to mean query data starting from 24 hours ago to now."
          },
          {
            "in": "query",
            "name": "environment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The name of environments to filter by."
          },
          {
            "in": "query",
            "name": "full",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Specify true to include the full event body, including the stacktrace, in the event payload."
          },
          {
            "in": "query",
            "name": "sample",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Return events in pseudo-random order. This is deterministic so an identical query will always return the same events in the same order."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "An optional search query for filtering events. See [search syntax](https://docs.sentry.io/concepts/search/) and queryable event properties at [Sentry Search Documentation](https://docs.sentry.io/concepts/search/searchable-properties/events/) for more information. An example query might be `query=transaction:foo AND release:abc`"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of rows to return in the result. Default and maximum allowed is 100."
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Events"
        ],
        "security": [
          {
            "auth_token": [
              "event:admin",
              "event:read",
              "event:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/issues/{issue_id}/events/{event_id}/": {
      "get": {
        "operationId": "getOrganizationIssueEvent",
        "description": "Retrieves the details of an issue event.",
        "summary": "Retrieve an Issue Event",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "issue_id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the issue you'd like to query.",
            "required": true
          },
          {
            "in": "path",
            "name": "event_id",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "oldest",
                "recommended"
              ]
            },
            "description": "The ID of the event to retrieve, or 'latest', 'oldest', or 'recommended'.",
            "required": true
          },
          {
            "in": "query",
            "name": "environment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The name of environments to filter by."
          }
        ],
        "tags": [
          "Events"
        ],
        "security": [
          {
            "auth_token": [
              "event:admin",
              "event:read",
              "event:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/releases/": {
      "get": {
        "operationId": "listOrganizationReleases",
        "description": "Return a list of releases for a given organization, sorted by most recent.",
        "summary": "List an Organization's Releases",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "project",
            "schema": {
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "description": "The IDs or slugs of projects to filter by. Project slugs are unique within each organization. Omit this parameter to include all accessible projects. `-1` is also accepted to include all accessible projects.\nFor example, the following are valid parameters:\n- `/?project=1234&project=56789`\n- `/?project=android&project=javascript-react`\n- `/?project=-1`\n"
          },
          {
            "in": "query",
            "name": "environment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The name of environments to filter by."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive substring match against the release version."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of rows to return in the result. Default and maximum allowed is 100."
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Releases"
        ],
        "security": [
          {
            "auth_token": [
              "org:ci",
              "project:admin",
              "project:read",
              "project:releases",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/releases/{version}/": {
      "get": {
        "operationId": "getOrganizationRelease",
        "description": "Return details on an individual release.",
        "summary": "Retrieve an Organization's Release",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "version",
            "schema": {
              "type": "string"
            },
            "description": "The version identifier of the release",
            "required": true
          },
          {
            "in": "query",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "description": "Deprecated. Use project instead.",
            "deprecated": true
          },
          {
            "in": "query",
            "name": "project",
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "The project ID or slug to filter by. Overrides project_id when both are sent."
          },
          {
            "in": "query",
            "name": "health",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether or not to include health data with the release. By default, this is false."
          },
          {
            "in": "query",
            "name": "adoptionStages",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether or not to include adoption stages with the release. By default, this is false."
          },
          {
            "in": "query",
            "name": "summaryStatsPeriod",
            "schema": {
              "type": "string",
              "enum": [
                "14d",
                "1d",
                "1h",
                "24h",
                "2d",
                "30d",
                "48h",
                "7d",
                "90d"
              ]
            },
            "description": "The period of time used to query summary stats for the release. By default, this is 14d."
          },
          {
            "in": "query",
            "name": "healthStatsPeriod",
            "schema": {
              "type": "string",
              "enum": [
                "14d",
                "1d",
                "1h",
                "24h",
                "2d",
                "30d",
                "48h",
                "7d",
                "90d"
              ]
            },
            "description": "The period of time used to query health stats for the release. By default, this is 24h if health is enabled."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "crash_free_sessions",
                "crash_free_users",
                "date",
                "sessions",
                "users"
              ]
            },
            "description": "The field used to sort results by. By default, this is `date`."
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "archived",
                "open"
              ]
            },
            "description": "Release statuses that you can filter by."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filters results by using [query syntax](/product/sentry-basics/search/).\n\nExample: `query=(transaction:foo AND release:abc) OR (transaction:[bar,baz] AND release:def)`\n"
          }
        ],
        "tags": [
          "Releases"
        ],
        "security": [
          {
            "auth_token": [
              "org:ci",
              "project:admin",
              "project:read",
              "project:releases",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/releases/{version}/files/": {
      "get": {
        "operationId": "listOrganizationReleaseFiles",
        "description": "Retrieve a list of files for a given release.",
        "summary": "List an Organization's Release Files",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "version",
            "schema": {
              "type": "string"
            },
            "description": "The version identifier of the release",
            "required": true
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "If set, only files with these partial names will be returned."
          },
          {
            "in": "query",
            "name": "checksum",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "If set, only files with these exact checksums will be returned."
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Releases"
        ],
        "security": [
          {
            "auth_token": [
              "org:ci",
              "project:admin",
              "project:read",
              "project:releases",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/releases/{version}/commits/": {
      "get": {
        "operationId": "listOrganizationReleaseCommits",
        "description": "Retrieve a list of commits for a given release.",
        "summary": "List an Organization Release's Commits",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "version",
            "schema": {
              "type": "string"
            },
            "description": "The version identifier of the release",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Releases"
        ],
        "security": [
          {
            "auth_token": [
              "org:ci",
              "project:admin",
              "project:read",
              "project:releases",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/releases/{version}/deploys/": {
      "get": {
        "operationId": "listOrganizationReleaseDeploys",
        "description": "Returns a list of deploys based on the organization, version, and project.",
        "summary": "List a Release's Deploys",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "version",
            "schema": {
              "type": "string"
            },
            "description": "The version identifier of the release",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Releases"
        ],
        "security": [
          {
            "auth_token": [
              "org:ci",
              "project:admin",
              "project:read",
              "project:releases",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/projects/{organization_id_or_slug}/{project_id_or_slug}/stats/": {
      "get": {
        "operationId": "listProjectStats",
        "description": "Return a set of points representing a normalized timestamp and the number of\nevents seen in the period.\n\nQuery ranges are limited to Sentry's configured time-series resolutions.\nThis endpoint may change in the future without notice.",
        "summary": "Retrieve Event Counts for a Project",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "project_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the project the resource belongs to. Project slugs are unique within each organization.",
            "required": true
          },
          {
            "in": "query",
            "name": "stat",
            "schema": {
              "type": "string",
              "enum": [
                "blacklisted",
                "generated",
                "received",
                "rejected"
              ]
            },
            "description": "The name of the stat to query. Defaults to `received`."
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "A UNIX timestamp (in seconds) that sets the start of the query range."
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "A UNIX timestamp (in seconds) that sets the end of the query range."
          },
          {
            "in": "query",
            "name": "resolution",
            "schema": {
              "type": "string",
              "enum": [
                "10s",
                "1d",
                "1h"
              ]
            },
            "description": "An explicit time series resolution."
          }
        ],
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "auth_token": [
              "project:admin",
              "project:read",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/events/": {
      "get": {
        "operationId": "listOrganizationEvents",
        "description": "Retrieves explore data for a given organization.\n\n**Note**: This endpoint is intended to get a table of results, and is not for doing a full export of data sent to\nSentry.\n\nThe `field` query parameter determines what fields will be selected in the `data` and `meta` keys of the endpoint response.\n- The `data` key contains a list of results row by row that match the `query` made\n- The `meta` key contains information about the response, including the unit or type of the fields requested",
        "summary": "Query Explore Events in Table Format",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "field",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The fields, functions, or equations to request for the query. At most 20 fields can be selected per request. Each field can be one of the following types:\n- A built-in key field. See possible fields in the [properties table](/concepts/search/searchable-properties/), under any field that matches the dataset passed to the dataset parameter\n    - example: `field=transaction`\n- A tag. Tags should use the `tag[{name}, {type}]` formatting to avoid ambiguity with any fields,\n    - example: `field=tag[isEnterprise, string]`\n    - example: `field=tag[numberOfBytes, number]`\n- A function which will be in the format of `function_name(parameters,...)`. See possible functions in the [query builder documentation](/product/discover-queries/query-builder/#stacking-functions).\n    - when a function is included, Discover will group by any tags or fields\n    - example: `field=count_if(transaction.duration,greater,300)`\n- An equation when prefixed with `equation|`. Read more about [equations here](/product/discover-queries/query-builder/query-equations/).\n    - example: `field=equation|count_if(transaction.duration,greater,300) / count() * 100`\n",
            "required": true
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "type": "string",
              "enum": [
                "errors",
                "logs",
                "profile_functions",
                "spans",
                "tracemetrics",
                "uptime_results"
              ]
            },
            "description": "Which dataset to query. The chosen dataset determines which fields are queryable.\n- `errors` - Error events.\n- `logs` - Structured log events.\n- `profile_functions` - Function-level Profiling data.\n- `spans` - Distributed tracing span events.\n- `tracemetrics` - Application Metrics.\n- `uptime_results` - Uptime monitoring check results.\n",
            "required": true
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The end of the period of time for the query, expected in ISO-8601 format. For example, `2001-12-14T12:34:56.7890`."
          },
          {
            "in": "query",
            "name": "environment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The name of environments to filter by."
          },
          {
            "in": "query",
            "name": "project",
            "schema": {
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "description": "The IDs or slugs of projects to filter by. Project slugs are unique within each organization. Omit this parameter to include all accessible projects. `-1` is also accepted to include all accessible projects.\nFor example, the following are valid parameters:\n- `/?project=1234&project=56789`\n- `/?project=android&project=javascript-react`\n- `/?project=-1`\n"
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The start of the period of time for the query, expected in ISO-8601 format. For example, `2001-12-14T12:34:56.7890`."
          },
          {
            "in": "query",
            "name": "statsPeriod",
            "schema": {
              "type": "string"
            },
            "description": "The period of time for the query, will override the start & end parameters, a number followed by one of:\n- `d` for days\n- `h` for hours\n- `m` for minutes\n- `s` for seconds\n- `w` for weeks\n\nFor example, `24h`, to mean query data starting from 24 hours ago to now."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of rows to return in the result. Default and maximum allowed is 100."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filters results by using [query syntax](/product/sentry-basics/search/).\n\nExample: `query=(transaction:foo AND release:abc) OR (transaction:[bar,baz] AND release:def)`\n"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "description": "What to order the results of the query by. Must be something in the `field` list, excluding equations."
          },
          {
            "in": "query",
            "name": "allowAggregateConditions",
            "schema": {
              "type": "boolean"
            },
            "description": "If false, aggregate conditions in the query string are disallowed. Defaults to true."
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          }
        ],
        "tags": [
          "Explore"
        ],
        "security": [
          {
            "auth_token": [
              "org:admin",
              "org:read",
              "org:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/organizations/{organization_id_or_slug}/tags/": {
      "get": {
        "operationId": "listOrganizationTags",
        "description": "Return a list of tag keys for the given organization.",
        "summary": "List an Organization's Tags",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "query",
            "name": "project",
            "schema": {
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            },
            "description": "The IDs or slugs of projects to filter by. Project slugs are unique within each organization. Omit this parameter to include all accessible projects. `-1` is also accepted to include all accessible projects.\nFor example, the following are valid parameters:\n- `/?project=1234&project=56789`\n- `/?project=android&project=javascript-react`\n- `/?project=-1`\n"
          },
          {
            "in": "query",
            "name": "environment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "The name of environments to filter by."
          },
          {
            "in": "query",
            "name": "statsPeriod",
            "schema": {
              "type": "string"
            },
            "description": "The period of time for the query, will override the start & end parameters, a number followed by one of:\n- `d` for days\n- `h` for hours\n- `m` for minutes\n- `s` for seconds\n- `w` for weeks\n\nFor example, `24h`, to mean query data starting from 24 hours ago to now."
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The start of the period of time for the query, expected in ISO-8601 format. For example, `2001-12-14T12:34:56.7890`."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The end of the period of time for the query, expected in ISO-8601 format. For example, `2001-12-14T12:34:56.7890`."
          },
          {
            "in": "query",
            "name": "dataset",
            "schema": {
              "type": "string",
              "enum": [
                "discover",
                "events",
                "replays",
                "search_issues"
              ]
            },
            "description": "The dataset to query. Defaults to `discover`."
          },
          {
            "in": "query",
            "name": "use_cache",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "Set to `\"1\"` to enable caching for the tag key query."
          },
          {
            "in": "query",
            "name": "useFlagsBackend",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "Set to `\"1\"` to query feature flags instead of tags."
          }
        ],
        "tags": [
          "Discover"
        ],
        "security": [
          {
            "auth_token": [
              "org:admin",
              "org:read",
              "org:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/projects/{organization_id_or_slug}/{project_id_or_slug}/keys/": {
      "get": {
        "operationId": "listProjectKeys",
        "description": "Return a list of client keys bound to a project.",
        "summary": "List a Project's Client Keys",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "project_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the project the resource belongs to. Project slugs are unique within each organization.",
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            },
            "description": "\nFilter client keys by `active` or `inactive`. Defaults to returning all\nkeys if not specified.\n"
          }
        ],
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "auth_token": [
              "project:admin",
              "project:read",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/0/projects/{organization_id_or_slug}/{project_id_or_slug}/environments/": {
      "get": {
        "operationId": "listProjectEnvironments",
        "description": "Lists a project's environments.",
        "summary": "List a Project's Environments",
        "parameters": [
          {
            "in": "path",
            "name": "organization_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the organization the resource belongs to.",
            "required": true
          },
          {
            "in": "path",
            "name": "project_id_or_slug",
            "schema": {
              "type": "string"
            },
            "description": "The ID or slug of the project the resource belongs to. Project slugs are unique within each organization.",
            "required": true
          },
          {
            "in": "query",
            "name": "visibility",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "hidden",
                "visible"
              ]
            },
            "description": "The visibility of the environments to filter by. Defaults to `visible`."
          }
        ],
        "tags": [
          "Environments"
        ],
        "security": [
          {
            "auth_token": [
              "project:admin",
              "project:read",
              "project:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}