{
  "openapi": "3.1.0",
  "info": {
    "title": "Discord HTTP API (Preview)",
    "version": "10",
    "description": "Preview of the Discord v10 HTTP API specification. See https://discord.com/developers/docs for more details."
  },
  "servers": [
    {
      "url": "https://discord.com/api/v10"
    }
  ],
  "paths": {
    "/users/@me": {
      "get": {
        "operationId": "get_my_user",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "identify"
            ]
          }
        ]
      }
    },
    "/users/@me/guilds": {
      "get": {
        "operationId": "list_my_guilds",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "guilds"
            ]
          }
        ]
      }
    },
    "/guilds/{guild_id}": {
      "get": {
        "operationId": "get_guild",
        "parameters": [
          {
            "name": "with_counts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/channels": {
      "get": {
        "operationId": "list_guild_channels",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/members": {
      "get": {
        "operationId": "list_guild_members",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/members/{user_id}": {
      "get": {
        "operationId": "get_guild_member",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/roles": {
      "get": {
        "operationId": "list_guild_roles",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/roles/{role_id}": {
      "get": {
        "operationId": "get_guild_role",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/emojis": {
      "get": {
        "operationId": "list_guild_emojis",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/emojis/{emoji_id}": {
      "get": {
        "operationId": "get_guild_emoji",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/invites": {
      "get": {
        "operationId": "list_guild_invites",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}": {
      "get": {
        "operationId": "get_channel",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages": {
      "get": {
        "operationId": "list_messages",
        "parameters": [
          {
            "name": "around",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}": {
      "get": {
        "operationId": "get_message",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/pins": {
      "get": {
        "operationId": "list_pins",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/threads/active": {
      "get": {
        "operationId": "get_active_guild_threads",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/{user_id}": {
      "get": {
        "operationId": "get_user",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/@me": {
      "get": {
        "operationId": "get_my_application",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/webhooks": {
      "get": {
        "operationId": "get_guild_webhooks",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/scheduled-events": {
      "get": {
        "operationId": "list_guild_scheduled_events",
        "parameters": [
          {
            "name": "with_user_count",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/scheduled-events/{guild_scheduled_event_id}": {
      "get": {
        "operationId": "get_guild_scheduled_event",
        "parameters": [
          {
            "name": "with_user_count",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/audit-logs": {
      "get": {
        "operationId": "list_guild_audit_log_entries",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "target_id",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "action_type",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]*)$",
              "format": "snowflake"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "operationId": "get_webhook",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BotToken": {
        "type": "apiKey",
        "description": "Discord bot token",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}
